<html>
    
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/dashboard.css">
    </head>
    <body>
        
        <div class="header">
            <div class="header-left"><%=user.username%></div>
            <div class="header-right"><a class="menu" href=/>Home</a>
            <a class="menu" href="contact.php">Contact us</a></div>
            </div>
           
            <div class="list">
                <div class="list-header"></div>
                <div class="list-price"><br>Price</div>
                <div class="list-price"><br>Type</div>
                <div class="list-price">$100<br>2BHK</div>
                <div class="list-img"><img src="/images/dtuimg.jpg"></div>
            
                <div class="feature">Food Included: Yes</div>
                <div class="feature">Security: None</div>
                <div class="feature">Wifi available</div>
                <div class="feature">Fully Furnished</div>
                
            </div>
           
            
            
    </body>
</html>