<html>
    <head>
        <title>Flat-PG DTU</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="header">
        <div class="header-left">Flat-PG.com</div>
        <div class="header-right"><a class="menu" href=index.php>Home</a>
        <a class="menu" href="/dashboard">Contact us</a></div>
        </div>
        <div class="content">
        <img src="/images/dtuimg.jpg">
        <div class="content-right">
            <div class="in-content-right">FLAT-PG<br><div class="text1">Get Flat and PG at best price
            </div>
             <button>Searching a flat or PG</button>
             <button>Give a Flat on rental</button>
             <button>Searching for roommate</button>
             <button>Looking for a mess</button>
        </div>
        </div>
    </div>
    </body>
</html>