<html>
    <head>
        <title>Plans and pricing
        </title>
        <link rel="stylesheet" href="/css/pricing.css">
    </head>
    <body>
Flat-pg.com
<nav class="navbar">
    <ul class="navlist">
        <li><a>Contact us</a></li>
        <li><a>Pricing</a></li>
    </ul>
</nav>
<center><div id="div1">
    <center><headings>Choose your tour</headings></center>
   <center> <table>
        <tr><th>
            Online Tour<br>
            <pricee>150</pricee>rs<br>
            This include online information about 10 PGs<br>
            <button>Select</button>
        </th></tr>
    
    </table>
    <table>
        <tr><th>
            Offline Tour<br>
            <pricee>550</pricee>rs<br>
            This include online information about 10 PGs<br>
            <button>Select</button>
        </th></tr>
    
    </table>
    <table>
        <tr><th>
            Flat Tour<br>
            <pricee>550</pricee>rs<br>
            This include 4-5 flat tours<br>
            <button>Select</button>
        </th></tr>
    
    </table>
    </center>
        </div></center>
    </body>
</html>